@{
    ViewData["Title"] = "HappyPaws Kennel Home";
}

<h1>Welcome to HappyPaws Kennel </h1>
<p>Available Kennels: <strong>@ViewBag.AvailableKennels</strong></p>

<p>This page shows data provided by the KennelService class.</p>
